canvas {
  display: block;
  vertical-align: bottom;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  border-radius: 50%;
}

.header1 {
  font-family: 'Righteous', cursive;
  font-size: 4vw;
}

.header2 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.4vw;
}

.header3 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.2vw;
}

.link1 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.8vw;
  color: inherit;
  margin: 0px 5px 0px 5px;
  transition: 0.5s;
}

.link1:hover {
  color: #fc7a00;
}

@media screen and (max-width: 785px) {
  .header1 {
    font-size: 8vw;
  }
  .link1 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 765px) {
  body {
    text-align: center;
  }
  .header1 {
    font-size: 9vw;
  }
  .header2 {
    font-size: 2.5vw;
  }
  .link1 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1390px) {
  .header2 {
    font-size: 1.1vw;
  }
}

.projects-link-container {
    position: fixed; /* or 'absolute', depending on your layout */
    top: 15px; /* Distance from the top of the viewport */
    left: 25px; /* Distance from the right of the viewport */
    z-index: 1000; /* Ensures the link is above other content */
}

.projects-link-container a {
    color: #000; /* Black text color */
    text-decoration: none; /* Removes underline from links */
    font-family: 'Ubuntu Mono', monospace; /* Uses Ubuntu Mono font */
    font-weight: bold; /* Adjust as needed */
    font-size: 27px;
}

.projects-link-container a:hover {
    border-bottom: 2px solid #000; /* Creates a darker underline */
}

#terminal-portfolio-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #0f0; /* Bright green to match the terminal text color */
    color: #000; /* Black text */
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    display: inline-block; /* Added for alignment */
    line-height: normal; /* Adjust as needed */
    letter-spacing: normal; /* Adjust as needed */
    animation: shift 4s ease-in-out infinite alternate;
    z-index: 1;
}

#terminal-portfolio-btn:hover {
    background-color: #0d0; /* Slightly darker green on hover */
}

@keyframes shift {
   0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
   }

   41% {
      transform: skewX(10deg);
   }

   42% {
      transform: skewX(-10deg);
   }

   59% {
      transform: skewX(40deg) skewY(10deg);
   }

   60% {
      transform: skewX(-40deg) skewY(-10deg);
   }

   63% {
      transform: skewX(10deg) skewY(-5deg);
   }

   70% {
      transform: skewX(-50deg) skewY(-20deg);
   }

   71% {
      transform: skewX(10deg) skewY(-10deg);
   }
}